<!DOCTYPE html>
<html>
	<head>
		<title>404 - jalali.org</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="css/styles.css"></link>
	</head>
	<body>
		<h1>404</h1>
		<p>Not found.</p>
	</body>
</html>
