<!DOCTYPE html>
<html>
	<head>
		<title>jalali.org</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="css/styles.css"></link>
	</head>
	<body>
		<h1>jalali.org</h1>
		<p>A minimalist website.</p>
	</body>
</html>
