<!DOCTYPE HTML>
<html>
  <head>
    <title>MoonPhase</title>
    <meta name="viewport" content="width=390">
    <link rel="stylesheet" type="text/css" href="css/moonphase.css" />
  </head>
  <body>
    <input type="hidden" id="phaseValue" value="<%= moonphaseValue %>"/>
    <div id="moon"></div>
    <p id="phase"></p>
    <a id="footer" href="https://github.com/PaymonJay/MoonPhase">Source</a>
    <script src="js/moonphase.js"></script>
  </body>
</html>
